.buttonThanks{
    position: absolute;
    top: 256px;
    left: 759px;
    height: 35px;
    width: 400px;
    border: 0.1rem solid white;
    border-radius: 25px;
    font-size: 22px;
}
.buttonThanks:hover{
    box-shadow: 2px 2px 2px white;
}
.bigH1{
    position: absolute;
    left: 813px;
    top: 44px;
    font-size: 30px;
}
.acquisto{
    top: 89px;
    position: absolute;
    left: 857px;
}
.acquisto2{
    top: 122px;
    position: absolute;
    left: 912px;
}
.acquisto3{
    top: 157px;
    position: absolute;
    left: 948px;
}
.acquisto4{
    top: 190px;
    position: absolute;
    left: 940px;
}
.acquisto5{
    top: 218px;
    position: absolute;
    left: 891px;
}