.h1Istru{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    position: absolute;
    left: 476px;
}
.pIstru{
    top: 210px;
    left: 6px;
    position: absolute;
    font-size: 18px;
    text-align: center;
}
.buttonBack{
    top: 297px;
    left: 844px;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    border: 0.1rem solid white;
    height: 35px;
    width: 273px;
    border-radius: 25px;
}