.title{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    position: absolute;
    left: 765px;
}
.row{
    width: 1886px;
    height: 382px;
}
.containerHome{
    height: 382px;
    width: 1886px;
    border: 20px white;
}
.row-wrapper{
    width: 1886px;
}